
body {
  font-family: "Source Sans 3", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  
  .product span {
    font-weight: bold;
  }
  
  

  .product-add-to-cart {
    overflow: hidden;
    clear: both;
    margin-top: 10px;
  }
  
  
  .shopping-cart {
    color: rgb(10, 10, 10);
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    /* min-height: 300px; */
    margin-right: 20px;
    margin-top: 10px;
    padding: 20px;
    background: rgba(156, 153, 148, 0.397);
  }
  
  .shopping-cart-head {
    background: rgba(230, 148, 41, 0.678);
    color: white;
    padding: 5px;
  }
  
  .shopping-cart,
  .shopping-cart-head {
    border-radius: 5px;
  }
  
  .empty-cart-btn,
  .cart-checkout {
    display: none;
    color: white;
    text-align: center;
    border-radius: 5px;

    
  }
  
  .empty-cart-btn {
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: rgba(255, 0, 0, 0.692);

  }
  
  .cart-checkout {
    background: rgba(18, 119, 23, 0.637);
  }
a {
  text-decoration: none;
}
